# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data and Vector DB
# data/ (uncommented to allow Render deployment on free tier limit)
chroma/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Project specific
test_ds.py
